.u-bg__dark {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.u-bg__white {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

* {
  line-height: 1.7;
  letter-spacing: 0.3em;
  position: relative;
}

body {
  background-color: #3E3E3E;
}

.c-flex {
  display: flex;
}

.c-flexCenter {
  justify-content: center;
  align-items: center;
}

.c-scrollNav {
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.c-scrollNav__wrap {
  height: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.c-scrollNav__wrap p {
  color: #fff;
}

.c-scroll__inner {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.c-scroll__ber {
  width: 0;
  height: 100%;
  border: 1px solid #fff;
}

.c-scroll__dot {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #fff;
}

.c-button {
  border: 2px solid #A28900;
  color: #A28900;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 30px;
}
.c-button:hover {
  background-color: #A28900;
  color: #fff;
  cursor: pointer;
}

.p-hero {
  height: 100vh;
  width: 100%;
}

.p-hero__container {
  width: 90%;
  background-image: url("/img/fv1.png");
  background-position: center;
  background-size: cover;
}

.p-hero__gradation {
  width: 60%;
  height: 100%;
  background: linear-gradient(90deg, #072E00, transparent);
  opacity: 0.8;
}
.p-hero__gradation p {
  color: #fff;
  text-shadow: 0 0 10px #fff;
  line-height: 2;
  letter-spacing: 0.3em;
  position: relative;
  top: 30%;
  left: 20%;
}

.p-news {
  width: 100%;
  height: 950px;
  margin-top: 150px;
}

.p-news__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.p-news__title {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../img/hotspring1.png");
  background-position: center;
  background-size: cover;
  z-index: 101;
}
.p-news__title p {
  color: #fff;
}

.p-news__titleWrap {
  justify-content: center;
  align-items: center;
}

.p-news__titleInner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.p-news__border {
  width: 40px;
  margin: 5px 0 0 5px;
  border-bottom: 2px solid #fff;
}

.p-news__content {
  width: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 100px 120px;
  z-index: 100;
}

.p-news__listItem {
  border-bottom: 1px dotted #ccc;
  padding: 10px 20px;
  color: #888;
}
.p-news__listItem:not(:first-child) {
  margin-top: 20px;
}

.p-news__newsTitle {
  margin-left: 40px;
}

.p-news__button {
  margin: 20px 20px 0 auto;
}

.p-service {
  width: 100%;
  height: 100%;
  margin-top: 150px;
}

.p-service__menu {
  width: 100%;
  height: 450px;
}

.p-service__menuItem {
  width: 33.333%;
  height: 100%;
}
.p-service__menuItem:nth-of-type(1) {
  background-image: url(../../img/inn.png);
}
.p-service__menuItem:nth-of-type(2) {
  background-image: url(../../img/concept2.png);
}
.p-service__menuItem:nth-of-type(3) {
  background-image: url(../../img/concept3.png);
}

.p-service__content {
  width: 300px;
  color: #fff;
}

.p-service__title {
  text-align: center;
}

.p-service__comment {
  margin-top: 20px;
}

.p-service__button {
  margin: 40px auto 0;
}

.p-recruit {
  width: 100%;
  height: 100%;
  margin-top: 150px;
  padding-bottom: 150px;
  background-color: #fff;
}

.p-recruit__container {
  width: 100%;
}

.p-recruit_imgWrap {
  width: 25%;
}
.p-recruit_imgWrap img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.u-bg__white {
  position: absolute;
}

.p-recruit__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  padding: 60px 100px;
  background-color: rgba(0, 0, 0, 0.5);
}
.p-recruit__title p {
  text-align: center;
  color: #fff;
}

.p-recruit__message {
  margin-top: 200px;
  text-align: center;
  color: #555;
}

.p-recruit__button {
  margin: 40px auto 0;
}

.l_header {
  height: 100px;
  padding: 20px 50px;
  color: #fff;
  background-color: #3E3E3E;
  justify-content: space-between;
  align-items: center;
}

.l-header__menuItem {
  margin-left: 100px;
}

.u-textSize__l {
  font-size: 45px;
}

.u-textSize__m {
  font-size: 35px;
}

.u-textSize__s {
  font-size: 20px;
}

.u-textSize__xs {
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */