.u-bg__dark {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.u-bg__white {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.u-bg__mainColor {
  background-color: #3E3E3E;
}

/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

* {
  line-height: 2;
  letter-spacing: 0.3em;
  position: relative;
}

.c-flex {
  display: flex;
}

.c-flexCenter {
  justify-content: center;
  align-items: center;
}

.c-scrollNav {
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #3E3E3E;
}

.c-scrollNav__wrap {
  height: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.c-scrollNav__wrap p {
  color: #fff;
}

.c-scroll__inner {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 10px 0;
  justify-content: center;
}

.c-scroll__ber {
  width: 0;
  height: 80%;
  border: 1px solid #fff;
}

.c-scroll__dot {
  width: 100%;
  position: absolute;
  -webkit-animation: scrollNav 2s ease infinite;
          animation: scrollNav 2s ease infinite;
  left: 50%;
  transform: translateX(-50%);
}
@-webkit-keyframes scrollNav {
  0% {
    height: 0;
  }
  100% {
    height: 80%;
  }
}
@keyframes scrollNav {
  0% {
    height: 0;
  }
  100% {
    height: 80%;
  }
}
.c-scroll__dot:after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #fff;
}

.c-button {
  border: 2px solid #A28900;
  color: #A28900;
  min-width: 250px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 30px;
  text-align: center;
}
.c-button:hover {
  background-color: #A28900;
  color: #fff;
  cursor: pointer;
}

.slick-slide {
  height: auto !important;
}

.slick-arrow {
  z-index: 2 !important;
}

.slick-arrow:before {
  content: "" !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

.slick-next {
  width: 40px !important;
  height: 40px !important;
  right: 20px !important;
  border-radius: 50%;
  background-color: #fff !important;
  transform: translate(-50px, -50px);
}
.slick-next:before {
  width: 15px !important;
  height: 15px !important;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(-45deg);
  border: 3px solid !important;
  border-color: transparent #555 #555 transparent !important;
}

.slick-prev {
  width: 40px !important;
  height: 40px !important;
  left: 20px !important;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5) !important;
  transform: translate(-50px, -50px);
}
.slick-prev:before {
  width: 15px !important;
  height: 15px !important;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%) rotate(-45deg);
  border: 3px solid !important;
  border-color: #555 transparent transparent #555 !important;
}

.js-underShow {
  width: 100%;
  height: 100%;
}

.p-hero {
  height: 100vh;
  width: 100%;
}

.p-hero__container {
  width: 90%;
  background-image: url("/img/fv1.png");
  background-position: center;
  background-size: cover;
}

.p-hero__gradation {
  width: 60%;
  height: 100%;
  background: linear-gradient(90deg, #072E00, transparent);
  opacity: 0.8;
}
.p-hero__gradation p {
  color: #fff;
  text-shadow: 0 0 10px #fff;
  line-height: 2;
  letter-spacing: 0.3em;
  position: relative;
  top: 30%;
  left: 20%;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.p-news {
  width: 100%;
  height: 950px;
  margin-top: 150px;
}

.p-news__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.p-news__title {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}
.p-news__title p {
  color: #fff;
}

.p-news__titleWrap {
  background-image: url("../../img/hotspring1.png");
  background-position: center;
  background-size: cover;
  z-index: 101;
}

.p-news__titleWrap > div {
  justify-content: center;
  align-items: center;
}

.p-news__titleInner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.p-news__border {
  width: 50px;
  margin: 5px 0 0 5px;
  border-bottom: 2px solid #fff;
}

.p-news__content {
  width: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.p-news__contentWrap {
  background-color: #fff;
  padding: 100px 120px;
}

.p-news__listItem {
  border-bottom: 1px dotted #ccc;
  padding: 10px 20px;
  color: #888;
}
.p-news__listItem:not(:first-child) {
  margin-top: 20px;
}

.p-news__newsTitle {
  margin-left: 40px;
}

.p-news__button {
  margin: 20px 20px 0 auto;
}

.p-newsIndex {
  width: 100%;
  padding: 40px 60px;
  background-color: #f7f7f7;
}

.p-newsIndex__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.p-newsIndex__title {
  width: 700px;
  height: 200px;
  -webkit-animation: leftFadeIn 0.5s ease;
          animation: leftFadeIn 0.5s ease;
}
@-webkit-keyframes leftFadeIn {
  0% {
    left: -100px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes leftFadeIn {
  0% {
    left: -100px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
.p-newsIndex__title p {
  color: #fff;
}

.p-newsIndex__titleWrap {
  height: 100%;
  background-image: url("../../img/hotspring1.png");
  background-position: center;
  background-size: cover;
}

.p-newsIndex__titleWrap > div {
  justify-content: center;
  align-items: center;
}

.p-newsIndex__titleInner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.p-newsIndex__border {
  width: 50px;
  margin: 5px 0 0 5px;
  border-bottom: 2px solid #fff;
}

.p-newsIndex__content {
  width: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}

.p-newsIndex__contentWrap {
  padding: 100px 120px 0;
}

.p-newsIndex__list {
  margin: 0 auto;
}

.p-newsIndex__listItem {
  border-bottom: 1px dotted #ccc;
  padding: 10px 20px;
  color: #888;
}
.p-newsIndex__listItem:not(:first-child) {
  margin-top: 20px;
}

.p-newsIndex__newsTitle {
  margin-left: 40px;
}

.p-newsIndex__pageNation {
  width: 250px;
  margin: 50px auto 0;
}

.p-newsIndex__pageNationInner {
  width: 100%;
  justify-content: space-around;
}

.p-newsIndex__pageNationPrev::before,
.p-newsIndex__pageNationNext::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
}

.p-newsIndex__pageNationPrev::before {
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transform: translateY(-50%) rotate(-45deg);
}

.p-newsIndex__pageNationNext::before {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: translateY(-50%) rotate(45deg);
}

.p-newsIndex__button {
  margin: 60px auto 0;
}

.p-newsIndex__pageButton {
  width: 40px;
  height: 40px;
  display: block;
  letter-spacing: 0;
  line-height: 40px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
}

.p-newsDetail {
  width: 100%;
  padding: 40px 60px;
  background-color: #f7f7f7;
}

.p-newsDetail__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.p-newsDetail__title {
  width: 700px;
  height: 200px;
  -webkit-animation: leftFadeIn 0.5s ease;
          animation: leftFadeIn 0.5s ease;
}
@keyframes leftFadeIn {
  0% {
    left: -100px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
.p-newsDetail__title p {
  color: #fff;
}

.p-newsDetail__titleWrap {
  height: 100%;
  background-image: url("../../img/hotspring1.png");
  background-position: center;
  background-size: cover;
}

.p-newsDetail__titleWrap > div {
  justify-content: center;
  align-items: center;
}

.p-newsDetail__titleInner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.p-newsDetail__border {
  width: 50px;
  margin: 5px 0 0 5px;
  border-bottom: 2px solid #fff;
}

.p-newsDetail__content {
  width: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}

.p-newsDetail__contentWrap {
  padding: 100px 120px 0;
}

.p-newsDetail__newsTitle {
  margin-left: 40px;
}

.p-newsDetail__contentTitle {
  padding: 10px 40px;
  border-bottom: 1px solid #999;
  color: #888;
}

.p-newsDetail__mainText {
  padding: 60px 40px;
}

.p-newsDetail__imgContainer {
  width: 100%;
  height: 300px;
  justify-content: space-between;
}

.p-newsDetail__imgWrap {
  width: 48%;
  height: 100%;
}
.p-newsDetail__imgWrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-newsDetail__pageNation {
  width: 600px;
  margin: 80px auto;
  justify-content: space-around;
}

.p-newsDetail__pageButton {
  text-align: center;
  text-indent: 0.3em;
}
.p-newsDetail__pageButton::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 2px solid #000;
  transition: all 0.3s;
}
.p-newsDetail__pageButton:hover::after {
  width: 100%;
}

.p-service {
  width: 100%;
  height: 100%;
  margin-top: 150px;
}

.p-service__menu {
  width: 100%;
  height: 450px;
}

.p-service__menuItem {
  width: 33.333%;
  height: 100%;
  background-size: cover;
}
.p-service__menuItem:nth-of-type(1) {
  background-image: url(../../img/inn.png);
}
.p-service__menuItem:nth-of-type(2) {
  background-image: url(../../img/concept2.png);
}
.p-service__menuItem:nth-of-type(3) {
  background-image: url(../../img/concept3.png);
}

.p-service__content {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #fff;
}

.p-service__title {
  text-align: center;
}

.p-service__comment {
  display: none;
  margin-top: 20px;
}

.p-service__button {
  margin: 40px auto 0;
}

.p-recruit {
  width: 100%;
  height: 100%;
  margin-top: 150px;
  padding-bottom: 150px;
  background-color: #fff;
}

.p-recruit__container {
  width: 100%;
}

.p-recruit_imgWrap {
  width: 25%;
}
.p-recruit_imgWrap img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.u-bg__white {
  position: absolute;
}

.p-recruit__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
}
.p-recruit__title > div {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 60px 100px;
}
.p-recruit__title p {
  text-align: center;
  color: #fff;
}

.p-recruit__message {
  margin-top: 200px;
  text-align: center;
  color: #555;
}

.p-recruit__button {
  margin: 40px auto 0;
}

.p-companyTop {
  width: 100%;
  height: 70vh;
}

.p-companyTop__scroll {
  height: 80%;
  align-items: flex-end;
}
.p-companyTop__scroll .c-scrollNav__wrap {
  height: 60%;
}

.p-companyTop__hero {
  width: 100%;
  height: 100%;
  justify-content: end;
  align-items: center;
  background-image: url("../../img/inn2.png");
  background-position: center;
  background-size: cover;
}

.p-companyTop__gradation {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: linear-gradient(90deg, #072E00, transparent);
  opacity: 0.8;
}

.p-companyTop__title {
  width: 60%;
  display: inline-block;
  line-height: 2;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.p-companyContents {
  width: 100%;
  height: 100%;
  padding-bottom: 450px;
}

.p-companyContents__container {
  width: 100%;
  margin-top: 200px;
}
.p-companyContents__container.right .p-companyContents__background {
  margin-left: auto;
}
.p-companyContents__container.right .p-companyContents__textWrap, .p-companyContents__container.right .p-companyContents__profileWrap {
  right: 100px;
}
.p-companyContents__container.left .p-companyContents__background {
  margin-right: auto;
}
.p-companyContents__container.left .p-companyContents__textWrap {
  left: 100px;
}

.p-companyContents__title {
  width: 400px;
  position: absolute;
  top: 0;
  left: 5%;
  text-align: center;
  line-height: 80px;
  background-color: #3E3E3E;
  margin-right: -0.3em;
  color: #fff;
  z-index: 102;
}

.p-companyContents__background {
  width: 90%;
  height: 80vh;
  display: block;
  top: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 101;
}

.p-companyContents__textWrap {
  width: 950px;
  padding: 40px 20px 80px 60px;
  position: absolute;
  top: 200px;
  box-shadow: 0 0 10px #ccc;
  background-color: #fff;
  color: #555;
  z-index: 101;
}

.p-companyContents__profileWrap {
  width: 900px;
  padding: 40px 40px 80px;
  position: absolute;
  top: 200px;
  box-shadow: 0 0 10px #ccc;
  background-color: #fff;
  color: #555;
  z-index: 101;
}

.p-companyContents__textInner:not(:first-child) {
  margin-top: 40px;
}

.p-companyContents__text {
  margin-top: 20px;
}

.p-companyContents__heading {
  color: #A28900;
  font-size: 23px;
  line-height: 1.7;
}
.p-companyContents__heading span {
  font-size: 28px;
  line-height: 1.7;
}

.p-companyContents__profileInner {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p-companyContents__profileInner .p-companyContents__profileRow:first-of-type {
  margin-top: 20px;
}

.p-companyContents__profileRow {
  width: 100%;
  padding: 30px 20px 10px;
  border-bottom: 1px solid #ccc;
}

.p-companyContents__profileHead {
  display: block;
  width: 25%;
}

.p-companyContents__profileText {
  display: block;
  width: 75%;
}

.p-recruitTop {
  width: 100%;
  height: 70vh;
}

.p-recruitTop__hero {
  width: 100%;
  height: 100%;
  justify-content: end;
  align-items: center;
}

.p-recruitTop__scroll {
  height: 80%;
  align-items: flex-end;
}
.p-recruitTop__scroll .c-scrollNav__wrap {
  height: 60%;
}

.p-recruitTop__container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.p-recruitTop__dark {
  position: absolute;
}

.p-recruitTop__imgWrap {
  width: 25%;
  height: 100%;
}
.p-recruitTop__imgWrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-recruitTop__dark {
  width: 100%;
}

.p-recruitTop__title {
  width: 60%;
  display: inline-block;
  line-height: 2;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.p-recruitContents__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: -40px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f7f7f7;
  color: #A28900;
  box-shadow: 0 0 10px #aaa;
  z-index: 102;
}

.p-recruitContents__container {
  width: 90%;
  margin: 0 auto;
  padding: 150px;
  top: -120px;
  text-align: center;
  color: #aaa;
  box-shadow: 0 0 10px #aaa;
  z-index: 101;
}

.p-recruitContents__itemTitle {
  width: 350px;
  margin: 0 auto 30px;
  padding: 10px;
  color: #DEBC00;
  background-color: #000;
}

.p-recruitContents__item {
  width: 80%;
  margin: 100px auto 0;
  color: #555;
}
.p-recruitContents__item:not(:first-of-type) {
  margin-top: 200px;
}

.p-recruitContents__itemWrap {
  width: 100%;
  border: 2px solid #A28900;
  padding: 50px 20px 70px;
}
.p-recruitContents__itemWrap > p {
  color: #A28900;
}

.p-recruitContents__rowWrap {
  height: 50px;
  margin-top: 10px;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}
.p-recruitContents__rowWrap:first-of-type {
  margin-top: 50px;
}

.p-recruitContent__heading {
  display: block;
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  line-height: 1.2;
}

.p-recruitContents__text {
  display: block;
  width: 70%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  line-height: 1.2;
}

.p-recruitContents__button {
  margin: 150px auto 100px;
  background-color: #A28900;
  color: #fff;
}
.p-recruitContents__button:hover {
  background-color: #fff;
  color: #A28900;
}

.p-contact {
  width: 100%;
  padding: 40px 60px;
  background-color: #f7f7f7;
}

.p-contact__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.p-contact__title {
  width: 700px;
  height: 200px;
  -webkit-animation: leftFadeIn 0.5s ease;
          animation: leftFadeIn 0.5s ease;
}
@keyframes leftFadeIn {
  0% {
    left: -100px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
.p-contact__title p {
  color: #fff;
}

.p-contact__titleWrap {
  height: 100%;
  background-image: url("../../img/water.png");
  background-position: center;
  background-size: cover;
}

.u-bg__gradation {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), transparent);
  justify-content: center;
  align-items: center;
}

.p-contact__titleInner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.p-contact__border {
  width: 40%;
  margin: 5px 0 0 5px;
  border-bottom: 2px solid #fff;
}

.p-contact__content {
  width: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}

.p-contact__contentWrap {
  padding: 100px 120px 0;
}

.p-contact__messageWrap {
  text-align: center;
}

.p-contact__form {
  width: 100%;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  margin-top: 100px;
  padding: 50px 0;
  flex-direction: column;
  align-items: center;
}

.p-contact__formRow {
  width: 90%;
  margin-top: 20px;
  padding: 20px 30px;
}
.p-contact__formRow:not(:last-child) {
  border-bottom: 1px solid #777;
}

.p-contact__formHeading {
  width: 30%;
  display: block;
}

.p-contact__formInput,
.p-content__formTextarea {
  width: 70%;
  border-radius: 5px;
  border: 1px solid #777;
  line-height: 1;
  padding: 0 10px;
}

.p-content__formTextarea {
  height: 300px;
  padding: 10px;
  resize: none;
}

.p-contact__formRadioWrap {
  margin-right: 30px;
}

.p-contact__formRadio {
  display: block;
  margin-right: 15px;
}

.p-contact__button {
  display: block;
  margin: 60px auto 0;
}

.p-contact__tel {
  width: 80%;
  margin: 100px auto;
  padding: 30px 0 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.p-contact__telInner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto 0;
}
.p-contact__telInner img {
  width: auto;
  height: 30px;
  margin: auto 10px auto 0;
}

.p-confirm {
  width: 100%;
  padding: 40px 60px;
  background-color: #f7f7f7;
}

.p-confirm__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.p-confirm__title {
  width: 700px;
  height: 200px;
  -webkit-animation: leftFadeIn 0.5s ease;
          animation: leftFadeIn 0.5s ease;
}
@keyframes leftFadeIn {
  0% {
    left: -100px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
.p-confirm__title p {
  color: #fff;
}

.p-confirm__titleWrap {
  height: 100%;
  background-image: url("../../img/water.png");
  background-position: center;
  background-size: cover;
}

.u-bg__gradation {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), transparent);
  justify-content: center;
  align-items: center;
}

.p-confirm__titleInner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.p-confirm__border {
  width: 40%;
  margin: 5px 0 0 5px;
  border-bottom: 2px solid #fff;
}

.p-confirm__content {
  width: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}

.p-confirm__contentWrap {
  padding: 100px 120px 0;
}

.p-confirm__messageWrap {
  text-align: center;
}

.p-confirm__form {
  width: 100%;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  margin-top: 100px;
  padding: 50px 0;
  flex-direction: column;
  align-items: center;
}

.p-confirm__formRow {
  width: 90%;
  margin-top: 20px;
  padding: 20px 30px;
}
.p-confirm__formRow:not(:last-child) {
  border-bottom: 1px solid #777;
}

.p-confirm__formHeading {
  width: 30%;
  display: block;
}

.p-confirm__formText,
.p-confirm__formTextarea {
  width: 70%;
  line-height: 1;
  padding: 0 10px;
}

.p-confirm__formTextarea {
  height: 300px;
  resize: none;
}

.p-confirm__formRadioWrap {
  margin-right: 30px;
  margin-left: 10px;
}

.p-confirm__formRadio {
  display: block;
  margin-right: 15px;
}

.p-confirm__button {
  display: block;
  margin: 60px auto 0;
}

.p-confirm__tel {
  width: 80%;
  margin: 100px auto;
  padding: 30px 0 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.p-confirm__telInner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto 0;
}
.p-confirm__telInner img {
  width: auto;
  height: 30px;
  margin: auto 10px auto 0;
}

.p-completion {
  width: 100%;
  padding: 40px 60px;
  background-color: #f7f7f7;
}

.p-completion__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.p-completion__title {
  width: 700px;
  height: 200px;
  -webkit-animation: leftFadeIn 0.5s ease;
          animation: leftFadeIn 0.5s ease;
}
@keyframes leftFadeIn {
  0% {
    left: -100px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
.p-completion__title p {
  color: #fff;
}

.p-completion__titleWrap {
  height: 100%;
  background-image: url("../../img/water.png");
  background-position: center;
  background-size: cover;
}

.u-bg__gradation {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), transparent);
  justify-content: center;
  align-items: center;
}

.p-completion__titleInner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.p-completion__border {
  width: 40%;
  margin: 5px 0 0 5px;
  border-bottom: 2px solid #fff;
}

.p-completion__content {
  width: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}

.p-completion__contentWrap {
  padding: 100px 120px 0;
}

.p-completion__messageWrap {
  margin-bottom: 50px;
  text-align: center;
}

.p-slider {
  width: 100%;
  height: 100vh;
}

.p-slider__imgWrap img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-slider__button {
  padding: 20px 40px 20px 80px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}
.p-slider__button::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  border: 3px solid;
  border-color: transparent #fff #fff transparent;
  transform: translate(-200%, -50%) rotate(-45deg) skew(10deg, 10deg);
}
.p-slider__button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
}
.p-slider__button:hover:before {
  border-color: transparent #000 #000 transparent;
}

.l_header {
  height: 100px;
  padding: 20px 50px;
  color: #fff;
  background-color: #3E3E3E;
  justify-content: space-between;
  align-items: center;
}

.l-header__menuItem {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: none;
}
.l-header__menuItem:not(:first-child) {
  margin-left: 100px;
}
.l-header__menuItem::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(calc(-50% - 0.15em));
  transition: all 0.3s ease;
  border-bottom: 2px solid #fff;
}
.l-header__menuItem:hover:after {
  width: calc(100% - 0.3em);
  transition: all 0.3s ease;
}

.l-footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #3E3E3E;
  padding: 80px 400px 20px;
}

.l-footer__menu {
  width: 100%;
  justify-content: space-between;
}

.l-footer__menuItem::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(calc(-50% - 0.15em));
  transition: all 0.3s ease;
  border-bottom: 2px solid #fff;
}
.l-footer__menuItem:hover:after {
  width: calc(100% - 0.3em);
  transition: all 0.3s ease;
}

.l-footer__catchCopy {
  margin-top: 50px;
}

.l-footer__address,
.l-footer__mail,
.l-footer__number {
  font-size: 12px;
}

.l-footer__right img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.l-footer__info {
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
}

.p-footer__copyright {
  margin-top: 20px;
  font-size: 10px;
}

.u-textSize__l {
  font-size: 45px;
}

.u-textSize__m {
  font-size: 35px;
}

.u-textSize__s {
  font-size: 20px;
}

.u-textSize__xs {
  font-size: 12px;
}

.u-text__right {
  text-align: right;
}/*# sourceMappingURL=style.css.map */