@use "../global/" as g;
@media (max-width: 414px) {
    .l_header {
        width: 100vw;
        height: 80px;
        padding: 10px 20px;
        position: fixed;
        top: 0;
        color: #fff;
        background-color: g.$mainColor;
        justify-content: space-between;
        z-index: 1000;
    }
    .l-header__logo {
        display: block;
        margin: auto 0;
        h1 {
            font-family: g.$fontSerif;
        }
    }
    .l-header__menu {
        position: absolute;
        width: 100%;
        top: 80px;
        left: 0;
        display: none;
        padding: 40px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        color: #000;
        z-index: 101;
    }
    .l-header__menuItem{
        display: block;
        width: 100%;
        text-align: center;
        &:not(:first-of-type) {
            margin-top: 20px;
        }
    }
    .l-header__hamburger {
        width: 20px;
        height: 20px;
        margin: auto 0;
        z-index: 102;
        &::after {
            content: "";
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 2px;
            background-color: #fff;
            border-radius: 2px;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 20%;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 2px;
            background-color: #fff;
            border-radius: 2px;
        }
    }
    .l-header__hamburger.open::after {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .l-header__hamburger.open::before {
        bottom: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }
    .l-header__hamburger.open ~ .l-header__menu {
        display: block;
    }
    .p-hero__container p{
        font-family: g.$fontSerif;
    }
}
@media (min-width: 415px) {
    .l_header {
        width: 100%;
        height: 100px;
        padding: 20px 50px;
        position: fixed;
        top: 0;
        color: #fff;
        background-color: g.$mainColor;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        h1 {
            font-family: g.$fontSerif;
        }
    }
    .p-hero__container p{
        font-family: g.$fontSerif;
    }
    .l-header__menuItem {
        width: fit-content;
        border-bottom: none;
        &:not(:first-child) {
            margin-left: 100px;
        }
        &::after {
            content: "";
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(calc(-50% - 0.15em));
            transition: all 0.3s ease;
            border-bottom: 2px solid #fff;
        }
        &:hover:after {
            width: calc(100% - 0.3em);
            transition: all 0.3s ease;
        }
    }
}
