.c-button {
    border: 2px solid #A28900;
    color: #A28900;
    min-width: 250px;
    width: fit-content;
    padding: 15px 30px;
    text-align: center;
    &:hover {
        background-color: #A28900;
        color: #fff;
        cursor: pointer;
    }
}