.slick-slide {
    height: auto !important;
}
.slick-arrow {
    z-index: 2 !important;
}
.slick-arrow:before{
	content:""!important;
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
}
.slick-next{
    width: 40px !important;
    height: 40px !important;
    right: 20px !important;
    border-radius: 50%;
    background-color: #fff !important;
    transform: translate(-50px, -50px);
        &:before {
            width: 15px !important;
            height: 15px !important;
            position: absolute;
            top: 50%;
            left: 40%;
            transform: translate(-50%, -50%) rotate(-45deg);
            border: 3px solid !important;
            border-color: transparent #555 #555 transparent !important;
    }
}
.slick-prev {
    width: 40px !important;
    height: 40px !important;
    left: 20px !important;
    border-radius: 50%;
    background-color: rgba(#fff, .5 ) !important;
    transform: translate(-50px, -50px);
        &:before {
            width: 15px !important;
            height: 15px !important;
            position: absolute;
            top: 50%;
            left: 60%;
            transform: translate(-50%, -50%) rotate(-45deg);
            border: 3px solid !important;
            border-color: #555 transparent transparent #555 !important;
    }
}