@use "../global/" as g;
@media (max-width: 414px) {
    .js-fadeIn {
        opacity: 1 !important;
    }
    .p-recruit {
        width: 100%;
        margin-top: 100px;
        padding-bottom: 80px;
        background-color: #fff;
    }
    .p-recruit__container {
        width: 100vw;
        & > div 
        {
            flex-wrap: wrap;
        }
    }
    .p-recruit_imgWrap {
        width: 50vw;
        height: 50vw;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .u-bg__white {
        position: absolute;
    }
    .p-recruit__title {
        width: 80vw;
        height: 80vw;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50vw;
        left: 50vw;
        transform: translate(-50%, -50%);
        color: #fff;
        background-color: rgba(#000, 0.5);
        & > div {
            height: fit-content;
            margin: auto;
            p:last-child {
                text-align: center;
                margin-top: 40px;
            }
        }
        p {
            font-family: g.$fontSerif;
        }
    }
    .p-recruit__message {
        width: 80%;
        max-width: 300px;
        margin: 50px auto 0;
        text-align: center;
    }
    .p-recruit__button {
        margin: 50px auto 0;
    }
}
@media (min-width: 415px) {
    .p-recruit {
        width: 100%;
        height: 100%;
        margin-top: 150px;
        padding-bottom: 150px;
        background-color: #fff;
    }
    .p-recruit__container {
        width: 100%;
    }
    .p-recruit_imgWrap {
        width: 25%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    
    .u-bg__white {
        position: absolute;
    }
    .p-recruit__title {
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
        > div {
            background-color: rgba(#000, 0.5);
            padding: 60px 100px;
        }
        p {
            text-align: center;
            color: #fff;
            font-family: g.$fontSerif;
        }
    }
    .p-recruit__message {
        margin-top: 200px;
        text-align: center;
        color: #555;
    }
    
    .p-recruit__button {
        margin: 40px auto 0;
    }
}