@use "./color" as c;
.u-bg__dark {
    height: 100%;
    width: 100%;
    background-color: rgba(#000, .5);
}
.u-bg__white {
    height: 100%;
    width: 100%;
    background-color: rgba(#fff, .5);
}

.u-bg__mainColor {
    background-color: c.$mainColor;
}