    $fontSizeL: 45px;
    $fontSizeM: 30px;
    $fontSizeS: 20px;
    $fontSizeXs: 12px;

    $spFontSizeL: 24px;
    $spFontSizeM: 16px;
    $spFontSizeS: 12px;
    $spFontSizeXs: 10px;

    $fontSerif : serif, "ヒラギノ明朝 ProN";